@import '~bootstrap/scss/bootstrap';

.after-signin, .sign-up-form, .sign-in-form, .change-password-form {
    display: none;
}

nav {
  height: auto;
  background-color: aqua;
}

#selection-nav {
  text-align: center;
}


#algorithm-outer {
  margin-top: 2rem;
  margin-left: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  width: 80%;
  min-height: 6rem;
  height: auto;
  background-color: aqua;
}

#algorithm-inner {

}

#visualize {
  margin-top: 2rem;
}

.sort-medium {
  margin-right: 5px;
  padding: 20px 30px;
  display: inline;
  border:black;
  border-style: solid;
  color: black;
  background-color: white;
}