@import '~bootstrap/scss/bootstrap';

.after-signin, .sign-up-form, .sign-in-form, .change-password-form, #game-board, #new-game {
    display: none;
}

.game, .new-game {
    text-align: center;
}




// tic tac toe CSS

nav {
  height: auto;
  background-color: aqua;
}

#algorithm-outer {
  margin: 2rem 10rem 2rem;
  width: 100%;
  height: 500px;
  background-color: aqua;
}

#visualize {
  margin-top: 2rem;
}

.sort-medium {
  margin-right: 5px;
  padding: 20px 30px;
  display: inline;
  border:black;
  border-style: solid;
  color: black;
}